.scrollable {
  overflow-y: scroll;
  scrollbar-width: none;
}

.scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 999rem;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #ddd;
}
